**Converting pdf tables in to csv files**

In [1]:
import numpy as np
import pandas as pd
import tabula
import warnings
import os, glob
warnings.filterwarnings('ignore')
print('setup complete')

setup complete

**Reading the pdf table/tables**

In [2]:
pdfle = "/home/jayanthikishore/Desktop/Analysis/Work/ML_EIT/Data/pdf2tables/data3.pdf"
sheets = tabula.read_pdf(pdfle,pages='all')
print("No. of tables in the file: ",len(sheets))

No. of tables in the file:  4

In [3]:
display(sheets[0],sheets[1])

,Name,Maths,Unnamed: 0,Physics,Unnamed: 1,Chemistry,Unnamed: 2,Total,Unnamed: 3
0,A,NaN,73,NaN,88,NaN,72,NaN,233
1,B,NaN,80,NaN,65,NaN,91,NaN,236
2,C,NaN,73,NaN,83,NaN,77,NaN,233
3,D,NaN,76,NaN,79,NaN,98,NaN,253
4,E,NaN,56,NaN,97,NaN,59,NaN,212
5,F,NaN,78,NaN,96,NaN,98,NaN,272
6,G,NaN,69,NaN,99,NaN,65,NaN,233
7,H,NaN,65,NaN,90,NaN,80,NaN,235
8,I,NaN,56,NaN,60,NaN,73,NaN,189
9,J,NaN,55,NaN,75,NaN,56,NaN,186
10,K,NaN,68,NaN,51,NaN,91,NaN,210
11,L,NaN,92,NaN,67,NaN,81,NaN,240
12,M,NaN,94,NaN,76,NaN,72,NaN,242
13,N,NaN,70,NaN,53,NaN,92,NaN,215
14,O,NaN,81,NaN,70,NaN,69,NaN,220
15,P,NaN,50,NaN,97,NaN,98,NaN,245
16,Q,NaN,88,NaN,79,NaN,69,NaN,236
17,R,NaN,50,NaN,79,NaN,72,NaN,201
18,S,NaN,77,NaN,73,NaN,98,NaN,248
19,T,NaN,61,NaN,69,NaN,84,NaN,214
20,U,NaN,63,NaN,56,NaN,90,NaN,209
21,V,NaN,57,NaN,72,NaN,98,NaN,227
22,W,NaN,84,NaN,69,NaN,71,NaN,224
23,X,NaN,71,NaN,71,NaN,75,NaN,217
24,Y,NaN,68,NaN,56,NaN,92,NaN,216
25,Z,NaN,57,NaN,64,NaN,53,NaN,174

   Name University
0     A      Texas
1     B      Texas
2     C      Texas
3     D      Texas
4     E      Texas
5     F      Texas
6     G      Texas
7     H      Texas
8     I      Texas
9     J      Texas
10    K      Texas
11    L      Texas
12    M      Texas
13    N      Texas
14    O      Texas
15    P      Texas
16    Q      Texas
17    R      Texas
18    S      Texas
19    T      Texas
20    U      Texas
21    V      Texas
22    W      Texas

**Converting one page table pdf to csv file**

In [4]:
tabula.convert_into("/home/jayanthikishore/Desktop/Analysis/Work/ML_EIT/Data/pdf2tables/data1.pdf",
                    "/home/jayanthikishore/Downloads/table1.csv")

'pages' argument isn't specified.Will extract only from page 1 by default.

**Converting multiple tables pdf file to csv file**

In [5]:
tabula.convert_into("/home/jayanthikishore/Desktop/Analysis/Work/ML_EIT/Data/pdf2tables/data3.pdf",
                    "/home/jayanthikishore/Downloads/table2.csv",pages="all")

**Reading multiple table pdfs**

In [6]:
path = "/home/jayanthikishore/Desktop/Analysis/Work/ML_EIT/Data/pdf2tables/"

all_files = glob.glob(os.path.join(path, "dat*.pdf"))
# display(all_files)

all_sheets = []
for pdffle in all_files[0:]:
    display(pdffle)
    sheets = tabula.read_pdf(pdffle,pages='all')
    all_sheets.append(sheets)

'/home/jayanthikishore/Desktop/Analysis/Work/ML_EIT/Data/pdf2tables/data3.pdf'

'/home/jayanthikishore/Desktop/Analysis/Work/ML_EIT/Data/pdf2tables/data2.pdf'

'/home/jayanthikishore/Desktop/Analysis/Work/ML_EIT/Data/pdf2tables/data1.pdf'

In [7]:
len(all_sheets)

3

In [8]:
all_sheets

[[   Name  Maths  Unnamed: 0  Physics  Unnamed: 1  Chemistry  Unnamed: 2  Total  \
  0     A    NaN          73      NaN          88        NaN          72    NaN
  1     B    NaN          80      NaN          65        NaN          91    NaN
  2     C    NaN          73      NaN          83        NaN          77    NaN
  3     D    NaN          76      NaN          79        NaN          98    NaN
  4     E    NaN          56      NaN          97        NaN          59    NaN
  5     F    NaN          78      NaN          96        NaN          98    NaN
  6     G    NaN          69      NaN          99        NaN          65    NaN
  7     H    NaN          65      NaN          90        NaN          80    NaN
  8     I    NaN          56      NaN          60        NaN          73    NaN
  9     J    NaN          55      NaN          75        NaN          56    NaN
  10    K    NaN          68      NaN          51        NaN          91    NaN
  11    L    NaN          92      NaN          67        NaN          81    NaN
  12    M    NaN          94      NaN          76        NaN          72    NaN
  13    N    NaN          70      NaN          53        NaN          92    NaN
  14    O    NaN          81      NaN          70        NaN          69    NaN
  15    P    NaN          50      NaN          97        NaN          98    NaN
  16    Q    NaN          88      NaN          79        NaN          69    NaN
  17    R    NaN          50      NaN          79        NaN          72    NaN
  18    S    NaN          77      NaN          73        NaN          98    NaN
  19    T    NaN          61      NaN          69        NaN          84    NaN
  20    U    NaN          63      NaN          56        NaN          90    NaN
  21    V    NaN          57      NaN          72        NaN          98    NaN
  22    W    NaN          84      NaN          69        NaN          71    NaN
  23    X    NaN          71      NaN          71        NaN          75    NaN
  24    Y    NaN          68      NaN          56        NaN          92    NaN
  25    Z    NaN          57      NaN          64        NaN          53    NaN

      Unnamed: 3
  0          233
  1          236
  2          233
  3          253
  4          212
  5          272
  6          233
  7          235
  8          189
  9          186
  10         210
  11         240
  12         242
  13         215
  14         220
  15         245
  16         236
  17         201
  18         248
  19         214
  20         209
  21         227
  22         224
  23         217
  24         216
  25         174  ,
     Name University
  0     A      Texas
  1     B      Texas
  2     C      Texas
  3     D      Texas
  4     E      Texas
  5     F      Texas
  6     G      Texas
  7     H      Texas
  8     I      Texas
  9     J      Texas
  10    K      Texas
  11    L      Texas
  12    M      Texas
  13    N      Texas
  14    O      Texas
  15    P      Texas
  16    Q      Texas
  17    R      Texas
  18    S      Texas
  19    T      Texas
  20    U      Texas
  21    V      Texas
  22    W      Texas,
     X  Texas
  0  Y  Texas,
     Name  Score
  0     A     14
  1     B     68
  2     C     43
  3     D     23
  4     E     57
  5     F     26
  6     G     84
  7     H     43
  8     I     35
  9     J     73
  10    K     53
  11    L     91
  12    M      3
  13    N     20
  14    O     25
  15    P     58
  16    Q     81
  17    R     41
  18    S     71
  19    T     17
  20    U      3
  21    V     87
  22    W     99
  23    X     57
  24    Y     22],
 [   Name  Maths  Unnamed: 0  Physics  Unnamed: 1  Chemistry  Unnamed: 2  Total  \
  0     A    NaN          99      NaN          51         76         NaN    NaN
  1     B    NaN          52      NaN          80         61         NaN    NaN
  2     C    NaN          94      NaN          55         94         NaN    NaN
  3     D    NaN          55      NaN          65         83         NaN    NaN
  4     E    NaN          73      NaN          96         87         NaN    NaN
  5     F    NaN          82      NaN          70         91         NaN    NaN
  6     G    NaN          93      NaN          57         95         NaN    NaN
  7     H    NaN          84      NaN          64         82         NaN    NaN
  8     I    NaN          68      NaN          90         76         NaN    NaN
  9     J    NaN          91      NaN          64         58         NaN    NaN
  10    K    NaN          95      NaN          77         92         NaN    NaN
  11    L    NaN          64      NaN          86         52         NaN    NaN
  12    M    NaN          62      NaN          92         72         NaN    NaN
  13    N    NaN          90      NaN          66         52         NaN    NaN
  14    O    NaN          84      NaN          63         71         NaN    NaN
  15    P    NaN          88      NaN          62         89         NaN    NaN
  16    Q    NaN          86      NaN          81         95         NaN    NaN
  17    R    NaN          96      NaN          67         71         NaN    NaN
  18    S    NaN          54      NaN          98         52         NaN    NaN
  19    T    NaN          89      NaN          91         76         NaN    NaN
  20    U    NaN          58      NaN          79         87         NaN    NaN
  21    V    NaN          71      NaN          64         97         NaN    NaN
  22    W    NaN          50      NaN          86         64         NaN    NaN
  23    X    NaN          52      NaN          52        100         NaN    NaN
  24    Y    NaN          61      NaN          56         73         NaN    NaN
  25    Z    NaN          52      NaN          77         73         NaN    NaN

      Unnamed: 3
  0          226
  1          193
  2          243
  3          203
  4          256
  5          243
  6          245
  7          230
  8          234
  9          213
  10         264
  11         202
  12         226
  13         208
  14         218
  15         239
  16         262
  17         234
  18         204
  19         256
  20         224
  21         232
  22         200
  23         204
  24         190
  25         202  ,
     Name University
  0     A      Texas
  1     B      Texas
  2     C      Texas
  3     D      Texas
  4     E      Texas
  5     F      Texas
  6     G      Texas
  7     H      Texas
  8     I      Texas
  9     J      Texas
  10    K      Texas
  11    L      Texas
  12    M      Texas
  13    N      Texas
  14    O      Texas
  15    P      Texas
  16    Q      Texas
  17    R      Texas
  18    S      Texas
  19    T      Texas
  20    U      Texas
  21    V      Texas
  22    W      Texas,
     X  Texas
  0  Y  Texas],
 [   Name  Maths  Physics  Chemistry  Total
  0     A     76       98         68    242
  1     B     92       82         86    260
  2     C     53       92         90    235
  3     D     64       87         73    224
  4     E     52       68         52    172
  5     F     51       52         68    171
  6     G     75       53         50    178
  7     H     62       67         64    193
  8     I     64       85         71    220
  9     J     52       82         91    225
  10    K     86       93         74    253
  11    L     83       71         86    240
  12    M     61       65         80    206
  13    N     87       88         79    254
  14    O     93       90         50    233
  15    P     67      100         81    248
  16    Q     84       59         70    213
  17    R     69       85         55    209
  18    S     56       90         61    207
  19    T     73       60         99    232
  20    U    100      100         89    289
  21    V     50       62         87    199
  22    W     92       84         57    233
  23    X     83       69         84    236
  24    Y     94       54         67    215
  25    Z     85       73         61    219]]

**Convert multiple pdf tables to multiple csv file**

In [10]:
path = "/home/jayanthikishore/Desktop/Analysis/Work/ML_EIT/Data/pdf2tables/"

outpath = "/home/jayanthikishore/Downloads/"

all_files = glob.glob(os.path.join(path, "dat*.pdf"))
# display(all_files)

ii=0
for pdffle in all_files[0:]:
    ii+=1
    lngth = len(pdffle)
    csvfle = outpath + pdffle[lngth-9:lngth-4]+'.csv'
    display(pdffle,csvfle)
    tabula.convert_into(pdffle,csvfle,pages="all")

'/home/jayanthikishore/Desktop/Analysis/Work/ML_EIT/Data/pdf2tables/data3.pdf'

'/home/jayanthikishore/Downloads/data3.csv'

'/home/jayanthikishore/Desktop/Analysis/Work/ML_EIT/Data/pdf2tables/data2.pdf'

'/home/jayanthikishore/Downloads/data2.csv'

'/home/jayanthikishore/Desktop/Analysis/Work/ML_EIT/Data/pdf2tables/data1.pdf'

'/home/jayanthikishore/Downloads/data1.csv'